<p id="notice"><%= notice %></p>

<p>
  <strong>Base experience difference:</strong>
  <%= @trade.base_experience_difference %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
